body {
    background-image: url("https://media.discordapp.net/attachments/1022999580595454048/1025154773621678081/Untitled-1-Recovered.png");
    background-color: #cccccc;
    background-size: cover;
   }